{% extends 'dashboard/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'dashboard/css/data.css' %}" />
<style>
  .container-data .header-bar {
    justify-content: start;
  }
  .card-body .button {
    margin-left: 0;
  }
</style>
{% endblock css %} 
{% block title %} Data - COL {% endblock title %} 
{% block content %}
<div class="content">
  <div class="container-data">
    <div class="header-bar">
      <a href="{% url 'data' %}">< Back</a>
    </div>

    <div class="card-body">
      <form method="POST" action="">
        {% csrf_token %}
        <div class="form-container">

          {% for field in form %}
          <div class="fields">
            <label class="field-label">{{ field.label }}</label>
            {{ field }}
          </div>
          {% endfor %}
        </div>
        <div class="btns">
            
            {% if isUpdate %}
            <input
            class="button data-form"
            type="submit"
            value="Save"
            name="save-form"
          />
            {% else %}
            <input
            class="button data-form"
            type="submit"
            value="Save"
            name="save-form"
          />
            {% endif %}
                
            
          <input
            class="button data-form"
            type="submit"
            value="Save and add another"
            name="save-add"
            />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %} 
{% block script %}
<!-- <script src="{% static 'dashboard/js/dashboard.js' %}"></script> -->

{% endblock script %}
